**An invalid literal**

Select an invalid literal.

Select one option from the list

"10000000"

'10000000'          T

10000000

10_000_000

**Address in a city**

To present the address in the city, which literal is suitable for us?

Select one option from the list

a string literal     T

a number literal

a character literal

**An incorrect literal**

Find the wrong literal.

Select one option from the list

'@'

"e-mail@gmail.com"

'abc'                     T

"123456"

1806

**Groups of literals**

Match groups and literals.

Match the items from left and right columns
Strings
Numbers
Characters
There is at least one invalid literal
"a", "123", "464531######0207"
0, 1, 2, 100_000
'a', '3', '?'
'1', 'q', 'text'

**Correct string writing**

Select string literals that are written correctly.

Select one or more options from the list

"q"                    T

'q'

443

'5'

"2312"                 T

"text"                 T

**Select the correct number literal**

Select the numeric literal that is written correctly.

Select one option from the list

100_000_000           T

"500"

"800_000"

300                   T

0                     T

'8'

**Statements**

Select the correct statement about literals.

Select one option from the list

"abc" is a correct string         T

"123" is a correct number

10 is a correct number           T

'ab' is a correct character literal

**Double and single quotes**

Choose one of the options to fill in the blanks in the sentence: A character should be wrapped in ________ quotes, whereas a string should be wrapped in ________ quotes

Select one option from the list

single, double             T

single, single

double, single

double, double

**String to characters**

Suppose we have a string literal "Kot" and we would like to split it into character literals. What is the correct result?

Select one option from the list

“Ko”, ‘t’

“K”, “o”, “t”

‘K’, ‘o’, ‘t’       T

K, o, t

‘K’, ‘o’, “t”